/* TODO Add site wide styles */
* {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links {
    text-decoration: none;
    color:rgba(36, 36, 234, 0.847);
    font-family: 'Kanit', sans-serif;
}

.buttons{
    border-radius: 30px;
    border: solid 2px blue;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(238, 249, 255);
}

html, body {
    width: 100%;
    max-width: 1024px;
    font-family: 'Kanit', sans-serif;
    height: 100%;
    margin: 0 auto;
    padding: 0;
  }

  @media (max-width: 1024px) {
    html, body {
      width: 1024px;
      height: 768px;
    }
  }

  button{
    font-family: 'Kanit', sans-serif;
  }
