.hidden {
    display: none;
}


.nav-list li {
    list-style: none;
}


.nav-home {
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
}
